body {
  text-align: center;
}

.back-color-top {
  height: 300px;
  width: auto;
  text-align: center;
  margin: 10px;
}

.back-color-center {
  height: fit-content;
  text-align: center;
}

.back-color-bottom {
  height: 300px;
  width: auto;
  margin: 1px;
}

.name {
  margin: auto;
  margin-top: 50px;
  height: auto;
  text-align: center;
}

#user-img {
  height: 50px;
  border-radius: 120px;
  border-width: 10px;
  border-color: gold;
}

.info-box {
  background-color: coral;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 15px;
}